*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    
}

header .container{
   /* display: flex;*/
    justify-content: space-between;
    align-items: center;
   
}

header{
    padding: 16px 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
    background-color: pink;
}

.linha{
    height: 10px;
    width: 200px;
    border: 5px solid pink;
    color: pink;
}

.submenu {
    display: none;
    border: 1px solid pink;
    position: absolute;
    left: 0;
    width: 300px;
    top: 100%;
    background-color: #fff;
}

.menu > li{
   
    float: right;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
    margin-top: -5%;
}

.clear{
    clear: both;
}

.menu li:hover .submenu{
    display: block;
}

.menu li:hover {
    border-color: pink;
}

.submenu li{
    display: block;
    padding: 8px;
}

.conteudo{
    grid-template-columns: 70% 30%;
    display: flex;
}

.noticia img{
    max-width: 100%;
}

.titulonoticia{
    color: rgb(131, 65, 76);
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    padding-bottom: 10px;
    border-bottom: 2px solid pink;
    display: inline;
    position: absolute;
    width: 700px;
}

.textonoticia{
    color: rgb(131, 65, 76);
    font-size: 12px;
    text-align: justify;
    font-weight: 200;
    padding-top: 50px;
    display: inline;
    position: absolute;
    width: 700px;
}

.titulonoticia2{
    color: rgb(131, 65, 76);
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    padding-bottom: 10px;
    border-bottom: 2px solid pink;
    width: 1020px;
}

.destaque{
    margin-bottom: 56px;
}
.destaque .noticia a{
    /*display:flex;*/
    font-size: 2em;
}

.destaque .noticia img{
    margin-right: 8px;
}

section h2{
    margin-bottom: 32px;
}

aside{
    padding-left: 40px;
}

aside .noticia{
    margin-bottom: 24px;
}

.noticias{
    display: grid;
    grid-template-columns: repeat(3, 32.6%);
    column-gap: 1%;
    row-gap: 5%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.botao{
    border: solid 1px rgb(255, 213, 249);
    border-radius: 20px;
    color: rgb(109, 61, 105);
    width: 200px;
    height: 30px;
    background-color: rgb(255, 200, 238);
    align-items: center;
    margin-top: 10px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
.botao:hover{
    background-color: rgb(255, 169, 255);
    color: rgb(255, 255, 255);
    transform: scale(1.2)
}

@media screen and (max-width:1023px) {
  
    .menu{
        visibility: hidden;
    }

    .destaque .noticia img {
        margin-right: 0px;
        width: 100%;
    }

    .noticias {
        display:flex; 
    }

    .textonoticia{
        color: rgb(131, 65, 76);
        font-size: 12px;
        text-align: justify;
        font-weight: 200;
        width: 100%;
        float: left;
        position:inherit;
        margin-top: -30px;
        padding-left: 10px;
        padding-right: 10px;
       
      
      
    }

    .titulonoticia{
        color: rgb(131, 65, 76);
        font-size: 20px;
        font-weight: 700;
        font-style: italic;
        border-bottom: 2px solid pink;
        float: left;
        position: inherit;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        
    }

    .titulonoticia2{
        color: rgb(131, 65, 76);
        font-size: 20px;
        font-weight: 700;
        font-style: italic;
        padding-bottom: 10px;
        border-bottom: 2px solid pink;
        width: 100%;
        padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media screen and (max-width:640px) {
  
    .destaque .noticia img {
        margin-right: 0px;
        width: 100%;
    }

    .noticias{
        display: grid;
        grid-template-columns: repeat(1, 100%);
       width: 100%;
        row-gap: 5%;
        padding-bottom: 50px;
        padding-top: 50px;
        align-items: center;
        padding-left: 40px;
        padding-right:40px;
    }

    .textonoticia{
        color: rgb(131, 65, 76);
        font-size: 12px;
        text-align: justify;
        font-weight: 200;
        width: 100%;
        float: left;
        position:inherit;
        margin-top: -30px;
      
    }

    .titulonoticia{
        color: rgb(131, 65, 76);
        font-size: 20px;
        font-weight: 700;
        font-style: italic;
        border-bottom: 2px solid pink;
        float: left;
        position: inherit;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        
    }

    .titulonoticia2{
        color: rgb(131, 65, 76);
        font-size: 20px;
        font-weight: 700;
        font-style: italic;
        padding-bottom: 10px;
        border-bottom: 2px solid pink;
        width: 100%;
        padding-top: 200px;
        padding-left: 10px;
        padding-right: 10px;
    }

}

